#how to write .gitignore?: https://blog.csdn.net/Gease_Gg/article/details/102614819
*/.vs
*/x64
*/x86
*/Debug

*/2_Output_an_Image/Debug
*/2_Output_an_Image/x64
*/2_Output_an_Image/x86

*/3_The_Vec3_Class/Debug
*/3_The_Vec3_Class/x64
*/3_The_Vec3_Class/x86

*/4_Ray_a_Simple_Camera_and_Background/Debug
*/4_Ray_a_Simple_Camera_and_Background/x64
*/4_Ray_a_Simple_Camera_and_Background/x86

*/5_Adding_a_Sphere/Debug
*/5_Adding_a_Sphere/x64
*/5_Adding_a_Sphere/x86

*/6_SurfNormals_And_MultiObjs/Debug
*/6_SurfNormals_And_MultiObjs/x64
*/6_SurfNormals_And_MultiObjs/x86

*/7_Antialiasing/Debug
*/7_Antialiasing/x64
*/7_Antialiasing/x86

*/8_ASimpleDiffuseMat/Debug
*/8_ASimpleDiffuseMat/x64
*/8_ASimpleDiffuseMat/x86